/*Đã chỉnh sữa */
    .nav-link::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ffcc00; /* text-yellow-300 */
            transform: scaleX(0); 
            transition: transform 0.3s ease-out;
        }

        .nav-link:hover::after {
            transform: scaleX(1); 
        }

        /* Hiệu ứng Dropdown Menu */
        .nav-item .dropdown-menu {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            transform: scaleY(0.9); /* Bắt đầu nhỏ hơn */
            transform-origin: top;
        }

        /* Hiển thị Dropdown khi hover */
        .nav-item:hover .dropdown-menu {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
        }