.hero-banner {
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://source.unsplash.com/1600x900/?smartphone,technology') no-repeat center center;
    background-size: cover;
}

.product-card img {
    height: 250px;
    object-fit: contain;
}

/* Hiệu ứng filter cho logo brand (giữ lại) */
.brand-logo img {
    filter: grayscale(100%);
    transition: filter .3s;
}
.brand-logo img:hover {
    filter: grayscale(0%);
}